

.h2selectHero {
    color: green;
}

.dselectId {
    color: rgb(42, 42, 228);
}

.section1 {
    background-color: rgb(241, 167, 167);
}
.section2 {
    background-color: rgb(200, 219, 224);
}

li {
    list-style:none;
}

.label1 {
    background-color: rgb(163, 162, 150);
    color: rgb(236, 233, 228);
}
